#contact
    background: $dkGrey
    color: $white

form
    setWidth()
    flexCenter column

.media
    setWidth()
    font-size: 30px
    margin: 1vh 0
    transition: all 2s
    p
        width: 90%
        margin: auto
    a 
        color: $white
    i 
        margin-right: .5em

           
