* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  background: #ff6347;
  background: linear-gradient(150deg, #ff6347 19%, #cf649a 90%);
  line-height: 1.2;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#card {
  background: #757572;
  color: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 1vh 1vw;
  box-shadow: 0 1px 3px #3b3a36, 0 1px 2px #3b3a36;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  background: none;
}
@media (min-width: 500px) {
  #card {
    width: 70vw;
    height: 70vh;
  }
}
@media (min-width: 800px) {
  #card {
    width: 60vw;
    height: 60vh;
  }
}
form {
  background: none;
  font: inherit;
  color: #fff;
  transition: all 2s;
}
form input,
form textarea,
form label {
  margin: 1vh 0;
  display: block;
  width: 90%;
  box-sizing: border-box;
}
form input,
form textarea {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2vh 2vw;
}
form input:focus,
form textarea:focus {
  opacity: 0.7;
}
form textarea {
  min-height: 20vh;
  resize: none;
}
form label {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1vh 0;
}
form button {
  margin: 2vh;
  width: 90%;
  border-radius: 5px;
}
@media (min-width: 800px) {
  form button {
    width: auto;
    min-width: 15vw;
  }
}
button {
  padding: 2vh 2vw;
  font: inherit;
  cursor: pointer;
  transition: all 2s;
  background: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 1px solid #fff;
}
button:hover {
  background: #3b3a36;
}
button.primary {
  background: #fff;
  color: #3b3a36;
  border: 1px solid #fff;
}
button.primary:hover {
  background: #757572;
}
.bgImg {
  background-color: #d3d3d3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.media button {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.media svg {
  fill: #fff;
  height: 100%;
  width: 100%;
}
.modal {
  height: 100vh;
  width: 100vw;
  background: #3b3a36;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 500px) {
  form {
    width: 70vw;
    height: 70vh;
  }
}
@media (min-width: 800px) {
  form {
    width: 60vw;
    height: 60vh;
  }
}
.projects {
  color: #fff;
}
.project {
  background: #757572;
  color: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 1vh 1vw;
  box-shadow: 0 1px 3px #3b3a36, 0 1px 2px #3b3a36;
  margin: 2vh 0;
}
.project button {
  color: #000;
  border: 1px solid #fff;
}
