flexCenter(direction)
    display: flex
    align-items: center
    justify-content: center
    flex-direction: direction

border()
    border: 1px solid $white 

borderRadius(radius)
    border-radius: radius

buttonDefaults()
    padding: 2vh 2vw
    font: inherit
    cursor: pointer
    transition: all 2s
    background: none
    color: $white
    upperSpacedText()
    border()
    &:hover
        background: $dkGrey

primaryButton()
    background: $white
    color: $dkGrey
    border: none
    &:hover 
        background: $ltGrey


formDefaults()
    background: none
    font: inherit
    color: $white
    transition: all 2s
    input, textarea, label 
        margin: 1vh 0
        display: block
        width: 90%
        box-sizing: border-box
    input, textarea
        border()
        borderRadius 5px
        &:focus 
            opacity: 0.7
        padding: 2vh 2vw
    textarea
        min-height: 20vh
        resize: none
    label 
        upperSpacedText()   
        margin: 1vh 0
     button
        margin: 2vh
        width: 90%
        borderRadius: 5px
        @media(min-width: desktop)
            width: auto
            min-width: 15vw

upperSpacedText()
    text-transform: uppercase 
    letter-spacing: 0.2em

setWidth()
    width: 80vw
    @media (min-width: tablet)
        width: 70vw
    @media (min-width: desktop)
        width: 60vw

bgImg()
    // include background: img in template
    background-color: lightgrey
    background-position: center
    background-repeat: no-repeat
    background-size: cover

card() 
    color: $white
    margin: auto
    borderRadius 5px
    padding: 1vh 1vw
    //box-shadow: 10px 10px 5px 0px $dkGrey;
    box-shadow: 0 1px 3px $dkGrey, 0 1px 2px $dkGrey