node = #5C8658
mongo = #13AA52
mongoose = #880000
express = #53B1FE

js = #F0DB4F
react = #61DAFB

css = #214CE5
sass = #CF649A
stylus = #FF6347

.projects 
    color: $white

.project
    card();
    margin: 2vh 0;
    button 
        color: black
        border: none
