h1 Contact
form(novalidate)
    label(for="name") Name
    input#name(name="name" required)
    label(for="email") Email
    input#email(type="email" required)
    label(for="message") Message
    textarea#message(required )
    button.primary(type="submit") Send
.media 
    p
        a(href="http://github.com/sarah-burnett", target="_blank", rel="noopener noreferrer")
            i.fab.fa-github
        a(href="https://www.linkedin.com/in/sarahkvburnett/", target="_blank", rel="noopener noreferrer")
            i.fab.fa-linkedin-in