.media 
    p
        a(href="http://github.com/sarah-burnett", target="_blank", rel="noopener noreferrer")
            i.fab.fa-github
        a(href="https://www.linkedin.com/in/sarahkvburnett/", target="_blank", rel="noopener noreferrer")
            i.fab.fa-linkedin-in