:root {
  --color: #fbfbfb;
  --bg: #000000;
  --border: $medium;
  --primary: #f7df1e;
  --secondary: #61dbfb;
  --font: "Nunito Sans", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #000000;
    --bg: #fbfbfb;
    --border: #000000;
  }
}

@-webkit-keyframes background-stripe {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background-stripe {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  padding: 2vh 10vw;
  text-align: right;
  font-size: 20px;
}

nav #lightbulb {
  cursor: pointer;
}

nav #lightbulb:hover {
  color: var(--primary);
}

@media (min-width: 950px) {
  nav {
    padding: 2vh 4.5vw;
  }
}

.lightbulb-on {
  color: var(--primary);
}

.lightbulb-on:hover {
  color: #000000 !important;
}

#main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  text-align: center;
  padding: 2vh;
}

#main h1 {
  margin: 2vh 0;
  background: -webkit-linear-gradient(180deg, var(--primary) 59%, var(--color) 59%, var(--color) 61%, var(--secondary) 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 300% 100%;
  background-origin: border-box;
  -webkit-animation: background-stripe 20s linear infinite;
          animation: background-stripe 20s linear infinite;
}

@media (min-width: 950px) {
  #main h1 {
    font-size: 100px;
    letter-spacing: 2px;
  }
}

@media (min-width: 500px) {
  #main h2 {
    font-size: 350%;
  }
}

#main h3 {
  letter-spacing: 4px;
}

#main > * {
  margin: 1vh 0;
}

#main svg {
  margin: 2px;
}

#main #icons {
  font-size: 40px;
}

#main-tags {
  font-size: 30px;
}

#main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-btns button,
#main-btns .button {
  display: block;
  margin: 1vh;
}

#projects {
  min-height: 100vh;
  margin: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects h2 {
  margin: 3vh 0;
  text-align: center;
}

#projects #project-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
}

@media (min-width: 800px) {
  #projects #project-wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1600px) {
  #projects #project-wrapper {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

#projects .project {
  margin: 2vh;
  border: 1px solid var(--border);
  border-radius: 15px;
  max-width: 350px;
  height: auto;
}

#projects .project > * {
  margin: 1vh 0;
  padding: 0 2vh;
}

#projects .project h3 {
  padding: 2vh;
  text-align: center;
}

#projects .project img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: #f8f8f8;
}

#projects .project p {
  font-size: larger;
}

#projects .project .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .project .tags .button {
  background: #f8f8f8;
  color: #000000;
  font-size: smaller;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

#projects .project .button {
  display: block;
  border-radius: 5px;
  cursor: default;
}

#projects .project .project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--border);
  margin: 0;
  padding: 0;
}

#projects .project .project-btns a {
  display: block;
  width: 50%;
  padding: 2vh;
  text-align: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

#projects .project .project-btns a:first-child {
  border-right: 1px solid var(--border);
  border-bottom-left-radius: 13px;
}

#projects .project .project-btns a:last-child {
  border-bottom-right-radius: 13px;
}

#contact {
  padding: 3vh;
  text-align: center;
  background: var(--secondary);
}

#contact h2 {
  margin: 3vh 0;
}

#contact-btns {
  margin: 3vh 0;
}

#contact-btns a {
  font-size: 60px;
  margin-right: 3vh;
}

#contact-btns a:hover {
  color: var(--primary);
}

#contact-btns a:last-child {
  margin-right: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

body {
  background: var(--bg);
  border-color: var(--border);
  color: var(--color);
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.2;
}

@media (500px) {
  body {
    font-size: 20px;
  }
}

h1 {
  font-size: 450%;
  text-transform: uppercase;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

button,
.button {
  padding: 2vh;
  border: 1px solid var(--color);
  color: var(--color);
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
  background: var(--primary);
  -webkit-transition: background 1s;
  transition: background 1s;
  letter-spacing: 2px;
  font-weight: bold;
  scroll-behavior: smooth;
  cursor: pointer;
}

@media (500px) {
  button,
  .button {
    font-size: 20px;
  }
}

button:hover,
.button:hover {
  background: var(--secondary);
}

a {
  color: var(--color);
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

@media (500px) {
  a {
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */