doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sarah Burnett
        link(rel="stylesheet", href="/styles/index.css")
        script(src="https://kit.fontawesome.com/9a0f5c6986.js" crossorigin="anonymous")
    body
        section
            #card 
                .bgImg(style="background-image: url('./imgs/profile-pic.jpg')")
                .line
                .headings
                    h1 Sarah Burnett
                    h2 Web Developer
                .line
                .buttons
                    a(href="#about") About
                    a(href="#cv") CV
                    a(href="#projects") Projects
                    a(href="#contact") Contact
                .line
        section#about
           include partials/about.pug
        section#projects
            include partials/projects.pug
        section#contact
            include partials/contact.pug


