#about
    background: $white
    color: $dkGrey

.intro, .stack
    setWidth()

.stack
    p
        flexCenter row
        justify-content: flex-start
    img 
        height: 40px
        width: 40px
        margin: 1vh 10px
