node = #5C8658
mongo = #13AA52
mongoose = #880000
express = #53B1FE

js = #F0DB4F
react = #61DAFB

css = #214CE5
sass = #CF649A
stylus = #FF6347

#projects
    background: $ltgrey
    color: $white

.projects
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

.project
    card()
    margin: 4vh 4vw
    padding: 2vh 2vw
    button 
        color: black
        border: none
        font-size: 16px
    &&:not(:hover)
        transform: scale(0.95);
    .buttons
        display: flex
