* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  background: #ff6347;
  line-height: 1.2;
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vh 2vw;
  background: #3b3a36;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
}
a {
  color: #fdfdfd;
  text-decoration: none;
}
form {
  background: none;
  font: inherit;
  color: #fdfdfd;
  transition: all 2s;
}
form input,
form textarea,
form label {
  margin: 1vh 0;
  display: block;
  width: 90%;
  box-sizing: border-box;
}
form input,
form textarea {
  border: 1px solid #fdfdfd;
  border-radius: 5px;
  padding: 2vh 2vw;
}
form input:focus,
form textarea:focus {
  opacity: 0.7;
}
form textarea {
  min-height: 20vh;
  resize: none;
}
form label {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1vh 0;
}
form button {
  margin: 2vh;
  width: 90%;
  border-radius: 5px;
}
@media (min-width: 800px) {
  form button {
    width: auto;
    min-width: 15vw;
  }
}
button {
  padding: 2vh 2vw;
  font: inherit;
  cursor: pointer;
  transition: all 2s;
  background: none;
  color: #fdfdfd;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 1px solid #fdfdfd;
}
button:hover {
  background: #ff6347;
}
button.primary {
  background: #fdfdfd;
  color: #3b3a36;
  border: 1px solid #fdfdfd;
}
button.primary:hover {
  background: #757572;
}
.bgImg {
  background-color: #d3d3d3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background: #ff6347;
  margin: 0;
}
nav .buttons a {
  display: block;
  text-align: center;
  font-size: 14px;
  margin: 0;
}
@media (min-width: 800px) {
  nav .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
#card {
  color: #fdfdfd;
  margin: auto;
  border-radius: 5px;
  padding: 1vh 1vw;
  border: 1px solid #fdfdfd;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  position: relative;
  padding: 5vh 2vw;
}
@media (min-width: 500px) {
  #card {
    width: 70vw;
  }
}
@media (min-width: 800px) {
  #card {
    width: 60vw;
  }
}
#card .bgImg {
  border: 1px solid #fdfdfd;
}
#card .headings {
  width: 60%;
  padding: 2vh 2vw;
  text-align: center;
  border-left: none;
  border-right: none;
}
#card .headings * {
  margin: 2vh 0;
}
#about {
  background: #fdfdfd;
  color: #3b3a36;
}
.intro,
.stack {
  width: 80vw;
}
@media (min-width: 500px) {
  .intro,
  .stack {
    width: 70vw;
  }
}
@media (min-width: 800px) {
  .intro,
  .stack {
    width: 60vw;
  }
}
.stack p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
}
.stack img {
  height: 40px;
  width: 40px;
  margin: 1vh 10px;
}
#projects {
  background: $ltgrey;
  color: #fdfdfd;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project {
  color: #fdfdfd;
  margin: auto;
  border-radius: 5px;
  padding: 1vh 1vw;
  border: 1px solid #fdfdfd;
  margin: 4vh 4vw;
  padding: 2vh 2vw;
}
.project button {
  color: #000;
  border: 1px solid #fdfdfd;
  font-size: 16px;
}
.project.project:not(:hover) {
  transform: scale(0.95);
}
.project .buttons {
  display: flex;
}
#footer {
  background: #ff6347;
  height: 20vh;
}
