@import "utilities/variables" 
@import "utilities/mixins"

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body 
    font-family: sans-serif
    background:  $coral
    line-height: 1.2
    overflow-x: hidden
    font-size: 18px
    scroll-behavior: smooth

section 
    min-height: 100vh
    width: 100vw
    flexCenter column
    padding: 5vh 2vw
    background: $dkGrey

h1 
    font-size: 26px
    text-transform: uppercase

h2 
    font-size: 20px

a 
    color: $white
    text-decoration: none

form
    formDefaults()

button 
    buttonDefaults()

button.primary
    primaryButton()

.bgImg 
    bgImg()
    borderRadius 50%
    height: 100px
    width: 100px

@import "partials/intro"
@import "partials/about"
@import "partials/projects"
@import "partials/footer"
