h1 About
.intro
    h3 Hi I am Sarah
    p Self-taught web developer
    p Background as psychological research assistant got me into coding
    p Experienced developing surveys and UI for research studies 
    p Building my own projects to keep learning
    p Looking for work 
    blockquote Love challenges, be intrigued by mistakes, enjoy effort, and keep on learning - Carol Dweck (Growth mindset)
.stack
    h3 My Tech Stack
    p Languages
        img(src="../imgs/icons/html.svg" title="HTML" alt="HTML")
        img(src="../imgs/icons/css.svg" title="CSS" alt="CSS")
        img(src="../imgs/icons/javascript.svg" title="JavaScript" alt="JS")
    p Front End
        img(src="../imgs/icons/react.svg" title="React" alt="React")
    p Back End
        img(src="../imgs/icons/nodejs.svg" title="NodeJS" alt="Node")
        img(src="../imgs/icons/express.svg" title="ExpressJS" alt="Express")
    p Other
        img(src="../imgs/icons/mongo.png" title="MongoDB" alt="Mongo")
        img(src="../imgs/icons/qualtrics.png" title="Qualtrics" alt="Qualtrics")

